# Ignore Python virtual environment
venv/
__pycache__/

# Ignore data directory
backend/data/
backend/indexing/medications_core/data

# Ignore Node.js dependencies and build files
frontend/med-ui/node_modules/
frontend/med-ui/dist/
